/* client/src/MADLibrary/MADTours/WidgetComponents/StripePaymentForm/StripePaymentForm.module.css */
/* Uses variables defined in client/src/styles/global.css */

.paymentForm {
  width: 100%;
  margin: 0 auto;
}

.summary {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  color: var(--grey-700);
}

.summary strong {
  color: var(--text);
  font-weight: 600;
}

.paymentElement {
  margin: 1.5rem 0;
}

.payButton {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--primary-text);
  height: 50px; /* Give it a fixed height for the spinner */
}

.payButton:hover {
  background-color: var(--secondary);
  color: var(--secondary-text);
}

.payButton:disabled {
  background-color: var(--grey-200);
  color: var(--grey-500);
  border-color: var(--grey-200);
  cursor: not-allowed;
  opacity: 0.7;
}

.paymentMessage {
  margin-top: 1rem;
  padding: 0.75rem;
  border-radius: 4px;
  background-color: var(--error-background);
  color: var(--error-text);
  font-size: 0.9rem;
  text-align: center;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  box-sizing: border-box;
}
.spinner {
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border: 2px solid rgba(var(--primary-text-rgb), 0.2);
  border-left: 2px solid var(--primary-text);
  transform: translateZ(0);
  animation: load 1.1s infinite linear;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}