/* client/src/adminPortal/MADTourManagement/InstanceManager/MacroPriceEditorModal.module.css
 * Uses variables from /client/src/styles/global.css
 * Uses styles from /client/src/adminPortal/adminshared.module.css */

.priceForm {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Ensure form groups in the form share space */
.priceForm .formGroup {
  flex: 1;
  min-width: 200px;
}